# Record Linkage

AKA Entity Resokution, Canonicalization, Similarity join...

Harmomize data arising from various entities.

## Fuzzy Logic

Certain objects or not strictly defined.

Fuzzy ensembles - ALgebra, Lotfi Zadeh

"The car is going 94 km/hr"

"The car is going fast"

Medicine, robotics, AI

### Fuzzy Matching

1. Normalization  
  - haromize case
  - remove accents
  - harmonize unicode
  - comproess spaces
2. Mathemtical distances
3. Lemmatisation
4. Phonetic algorithms

In [23]:
import pandas as pd
import numpy as np
import os

In [24]:
print(os.listdir('../data'))

['dirty-donato.csv', 'dirty-figshare.csv', 'dirty-interventions.csv', 'dirty-isidore.csv', 'dirty-musicians.csv', 'dirty-universities.csv']

In [41]:
df = pd.read_csv('../data/dirty-musicians.csv')

In [26]:
df.describe().T

            count unique                           top  freq
artist      65535  21028                Johnnie Taylor   180
genre       65535   3026                     Pop music  4891
birthdate1  60562  13634                    1928-03-01   122
birthdate2  57926  13208                 United_States   283
birthdate3  63867  10420                            21   577
deathdate1  11463   2854                    2000-05-31   180
deathdate2  12088   2405                          2010   137
deathdate3  10851   2732  Dallas, Texas, United States   108

In [27]:
import unicodedata

def strip_accents(text):

    try:
        text = unicode(text, 'utf-8')
    except NameError: # unicode is a default on python 3 
        pass

    text = unicodedata.normalize('NFD', text).encode('ascii', 'ignore').decode("utf-8")

    return str(text)

In [28]:
def cleanstr(val):
    val = val.lower()
    if '(' in val:
        val = val[:val.index('(')]
    return strip_accents(val.strip()).replace(' ', '')

df.artist = df.artist.apply(cleanstr)

In [29]:
import string

def fingerprint(chars):
    chars = chars.lower().strip()
    chars = chars.translate(str.maketrans('', '', string.punctuation))
    tokens = sorted(set(chars.split(' ')))
    return ' '.join(tokens)
    
print(fingerprint('University of North Carolina, NC'))
print(fingerprint('University of North Carolina NC'))
print(fingerprint('University of north North Carolina, NC'))

carolina nc north of university
carolina nc north of university
carolina nc north of university

In [36]:
from collections import defaultdict

def cluster(ser):
    groups = defaultdict(set)
    
    for val in ser.values:
        groups[cleanstr(val)].add(val)
        
    for c in groups.items():
        yield c

In [33]:
for k, v in cluster(df.artist):
    if len(v) > 1:
        print(k, v)

mzbratt {'mz.bratt', 'mzbratt'}
leeminwoo {'leemin-woo', 'leeminwoo'}
jr {'jr.', 'j.r.'}
kimhyungjun {'kimhyungjun', 'kimhyung-jun'}
sungyuri {'sungyu-ri', 'sungyuri'}
heoyoungsaeng {'heoyoungsaeng', 'heoyoung-saeng'}
jax {'jax', 'j-ax'}
melody {'melody', 'melody.'}
kimkyujong {'kimkyu-jong', 'kimkyujong'}
shinhyesung {'shinhyesung', 'shinhye-sung'}
jammasterjay {'jammasterjay', 'jam-masterjay'}
kangminhyuk {'kangmin-hyuk', 'kangminhyuk'}
kvkrishnaprasad {'k.v.krishnaprasad', 'kvkrishnaprasad'}

In [35]:
from Levenshtein import distance

In [40]:
for k, v in cluster(df.artist):
    if len(v) > 1:
        print(v)
        combs = itertools.combinations(v, 2)
        ds = []
        for (s1, s2) in combs:
            d.append(distance(s1, s2))
        print('k = {}, distances = {}'.format(k, ds))

# Information Retrieval

Document research - search engine.

`ElasticSearch`, `Solr`